<mat-toolbar color="primary">
  <span>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>more_vert</mat-icon>
        <span>Menu</span>
  </button>
  </span>
  <span class="title-center">Yay, XSim !</span>
  <span><mat-icon>mood</mat-icon></span>
</mat-toolbar>

<mat-sidenav-container class="md-sidenav" #sideMenu>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item>
        <mat-icon>visibility</mat-icon>
        <div class="spacer"></div>
        <span (click)="openDialog()" matTooltipPosition="after" matTooltip="Select exam">
        Select exam</span>
      </a>
      <a mat-list-item>
        <mat-icon>file_upload</mat-icon>
        <div class="spacer"></div>
        <span matTooltipPosition="after" matTooltip="Upload a PDF file of your own,
        containing questions and answers in an accepted
        format">Upload file</span>
      </a>
      <a mat-list-item>
        <mat-icon>account_box</mat-icon>
        <div class="spacer"></div>
        <span matTooltipPosition="after" matTooltip="Log in with your username to
        track your progress">Log in</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="my-content">
    <player></player>
  </div>
</mat-sidenav-container>