<div *ngIf="questions.length < 1">
  <mat-progress-bar mode="indeterminate">
  </mat-progress-bar>

</div>

<div>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item *ngFor="let option of files">{{option.description}}</button>
  </mat-menu>
</div>

<div *ngIf="this.questions.length > 1">

  <mat-card>
    <mat-toolbar>
      <span>{{ exam_file_title }}</span>
    </mat-toolbar>
    <br>
    <mat-card>
      <mat-toolbar>
        <span> Question nr. {{ current_question+1 }} out of {{ questions.length }}</span>
        <span>
          <span matTooltip="First question" matTooltipPosition ="above">
          <button mat-icon-button color="primary" (click)="first()">
            <mat-icon>first_page</mat-icon>
          </button></span>
        <span matTooltip="Previous question" matTooltipPosition="above">
          <button mat-icon-button color="primary" (click)="previous()">
            <mat-icon>chevron_left</mat-icon>
          </button></span>
        <span matTooltip="Next question" matTooltipPosition="above">
          <button mat-icon-button color="primary" (click)="next()">
            <mat-icon>chevron_right</mat-icon>
          </button></span>
        <span matTooltip="Last question" matTooltipPosition="above">
          <button mat-icon-button color="primary" (click)="last()">
            <mat-icon>last_page</mat-icon>
          </button></span>
        </span>
      </mat-toolbar>

      <div align="left">
        <mat-card-content>
          <br> {{ questions[current_question].q_text }} <br><br>
          <section *ngIf="questions[current_question].q_type === 'fill-in-the-blank'">
            <mat-form-field>
              <input matInput placeholder="Type answer" [(ngModel)]="gAnswers[current_question][answer]">
            </mat-form-field>
          </section>
          <section *ngIf="questions[current_question].q_type === 'single-choice'">
            <mat-radio-group class="radio-group" [(ngModel)]="gAnswers[current_question][answer]">
              <mat-radio-button class="radio-button" *ngFor="let answer of questions[current_question].answers" value="{{ answer }}">
                {{answer}}
              </mat-radio-button>
              <!--given answer: {{ givenAnswers[current_question] }}-->
            </mat-radio-group>
          </section>
          <section *ngIf="this.questions[current_question].q_type === 'multiple-choice'">
            <mat-checkbox class="checkbox" *ngFor="let answer of questions[current_question].answers" name=answer [(ngModel)]="gAnswers[current_question][answer]">
              {{answer}}
            </mat-checkbox><br>
          </section>
          <footer>
            <div>
              Answer :
              <label for="switch">{{ label }} </label>
              <mat-slide-toggle id="switch" [color]="accent" [checked]="switchvalue" (change)=showLabel()>
                Show answer
              </mat-slide-toggle>
            </div>
            <!--<br> {{ questions[current_question].q_type }}
            <br> {{ questions[current_question].correct_ans.length }}-->
          </footer>
        </mat-card-content>
      </div>
    </mat-card>
    <br>
    <div>


      <button mat-raised-button color="accent" (click)="end()" #endButton>
        End <mat-icon>eject</mat-icon>
      </button>

      <button mat-raised-button color="accent" (click)="reset()" #endButton>
        Reset <mat-icon>refresh</mat-icon>
      </button>

    </div>
  </mat-card>
</div>

<div *ngIf="over == 1">
  <mat-card>
    <mat-card-content>
      <h2 class="example-h2">Result</h2>
      <progressbar [score]="score"></progressbar>
      <h2 class="example-h2">{{ score }} (%{{ score*100/questions.length }})</h2>
    </mat-card-content>
  </mat-card>
</div>

<div>
  <mat-card>
    <mat-toolbar>
      <span>Exam file description</span>
    </mat-toolbar>
    <div class="angular-with-newlines" align="left">
      {{ this.exam_file_description }}
    </div>
  </mat-card>
</div>